@model HRWebApplication.Models.AccessModels

@{
    ViewBag.Title = "Delete Access";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Remove Access</h3>
            </div>
            <div class="title_right">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Delete <small>Are you sure you want to delete this?</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.WebMenuAccess)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.WebMenuAccess)
                            </dd>

                        </dl>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <a href="@Url.Action("Index", "Role")" class="btn btn-default">Back to List</a>
                            <input type="submit" value="Delete" class="btn btn-danger submit" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>